
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <form action="~/contaReceber/update" method="post">

        <div>
            <label for="campo-nome">Nome</label>
            <input type="text" name="nome" id="campo-nome " value="@ViewBag.ContasReceber.Nome" />
        </div>

        <div>
            <label for="campo-valor">Valor</label>
            <input type="text" name="valor" id="campo-valor" value="@ViewBag.ContasReceebr.Valor" />
        </div>

        <div>
            <label for="campo-tipo">Tipo</label>
            <input type="text" name="tipo" id="campo-tipo" value="@ViewBag.ContasReceber.Tipo" />
        </div>

        <div>
            <label for="campo-descricao">Descrição</label>
            <input type="text" name="descicao" id="campo-descricao" value="@ViewBag.ContasReceber.Descricao" />
        </div>

        <div>
            <label>Status</label>
            <select name="Status">

                @if(ViewBag.ContasReceber.Status == "Pendente")
                {
                    <option value="Pendente" selected="selected">Pendente</option>
                }
                else
                {
                    <option value="Pendente">Pendente</option>
                }

                @if(ViewBag.ContasReceber.Status == "Recebido")
                {
                    <option value="Recebido" selected="selected">Recebido</option>
                }
                else
                {
                    <option value="Recebido">Recebido</option>
                }
            </select>
        </div>

        <div>
            <input type="hidden" name="id" value="@ViewBag.ContasReceber.Id" />
            <button type="submit">Salvar</button>
        </div>
    </form>
</body>
</html>
