
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <form action="/ClientePessoaFisica/update" method="post">

        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" value="@ViewBag.ClientePessoaFisica.Nome" />

        <label for="campo-cpf">CPF</label>
        <input type="text" name="cpf" id="campo-cpf" value="@ViewBag.ClientePessoaFisica.Cpf" />

        <label for="campo-data-nascimento">Data Nascimento</label>
        <input type="text" name="dataNascimento" id="campo-data-nascimento" value="@ViewBag.ClientePessoaFisica.DataNascimento" />

        <label for="campo-rg">RG</label>
        <input type="text" name="rg" id="campo-data-nascimento" value="@ViewBag.ClientePessoaFisica.Rg" />

        @if (ViewBag.ClientePessoaFisica.Sexo == "feminino")
        {
            <input type="radio" name="sexo" id="campo-sexo-feminino" value="@ViewBag.ClientePessoaFisica.Sexo" checked="checked" />
        }
        else
        {
            <input type="radio" name="sexo" id="campo-sexo-feminino" value="@ViewBag.ClientePessoaFisica.Sexo" />
        }
        <label for="campo-sexo-feminino">Feminino</label>

        @if (ViewBag.ClientePessoaFisica.Sexo == "masculino")
        {
            <input type="radio" name="sexo" id="campo-sexomasculino" value="@ViewBag.ClientePessoaFisica.Sexo" checked="checked" />
        }
        else
        {
            <input type="radio" name="sexo" id="campo-sexo-masculno" value="@ViewBag.ClientePessoaFisica.Sexo" />
        }
        <label for="campo-sexo-masculino">Masculino</label>

        <input type="hidden" name="id" value="@ViewBag.ClientePessoaFisica.Id" />
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
