
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/ClientePessoaFisicaIndex.css" />
</head>
<body>
    <div>
        <h1>Clientes(Pessoas Fisícas)</h1>
    </div>
    <a href="/ClientePessoaFisica/cadastro/">Novo Cliente (Pessoa Fisíca)</a>
    <form action="/clientePessoaFisica/index" method="get">
        <label for="campo-pesquisa">Pesquisa</label>
        <input type="text" id="campo-pesquisa" name="pesquisa" />
    </form>
    <form>
        <div>
            <table class="tabela">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data Nascimento</th>
                        <th>RG</th>
                        <th>Sexo</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.ClientePessoaFisica.Count; i++)
                    {
                        <tr>
                            <td>@ViewBag.ClientePessoaFisica[i].Id</td>
                            <td>@ViewBag.ClientePessoaFisica[i].Nome</td>
                            <td>@ViewBag.ClientePessoaFisica[i].Cpf</td>
                            <td>@ViewBag.ClientePessoaFisica[i].DataNascimento</td>
                            <td>@ViewBag.ClientePessoaFisica[i].Rg</td>
                            <td>@ViewBag.ClientePessoaFisica[i].Sexo</td>
                            <td>
                                <a href="/clientepessoafisica/editar?id=@ViewBag.ClientePessoaFisica[i].Id">Editar</a>
                                <a href="/clientepessoafisica/apagar?id=@ViewBag.ClientePessoaFisica[i].Id">Apagar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



    </form>
</body>
</html>
